.root {
  display: 'flex';
}
.appBar {
  z-index: 100;
}
.drawer {
  width: 240px;
  flex-shrink: 0;
}
.drawerPaper {
  width: 240px;
}
.drawerContainer {
  overflow: 'auto';
}
.content {
  flex-grow: 1;
  padding: 5px;
}
